<div class="container">
    <div class="row box-header">
        <div class="col-6">
            <h1>Catat.In</h1>
        </div>
        <div class="col-6 text-end">
            <a href="/logout"><i class="fa fa-sign-out" style="font-size:24px"></i></a>
        </div>
        <div class="container my-2">
            <div class="row d-flex justify-content-center">
                <div class="col-6 my-3 mb-4 fw-bold text-center wallet-bg"
                    style="text-shadow: 1px 1px rgba(0, 0, 0, 0.329);">
                    Rp. <%= wallet.balance.toLocaleString() %>
                        <i class="fa fa-edit icon-edit-dompet" style="font-size:18px"></i>
                        <p>Dompet</p>
                </div>
                <div class="col-6 my-3 mb-4 fw-bold text-center expense-bg"
                    style="color: #dc3545; text-shadow: 1px 1px rgba(0, 0, 0, 0.329);">
                    <i class="fa fa-edit icon-edit-pengeluaran" style="font-size:18px"></i>
                    Rp. <%= wallet.expense.toLocaleString() %>
                        <p>Pengeluaran</p>
                </div>
            </div>
        </div>
    </div>


    <div class="d-flex justify-content-center align-items-center">
        <div class="container-box py-3">
            <div class="row fw-bold" style="color: 
            #C4C4C4;">
                <div class="col-6 text-center py-2" id="btn-income">
                    Income
                </div>
                <div class="col-6 text-center bg-danger py-2" id="btn-expense">
                    Expense
                </div>
            </div>
        </div>
    </div>
</div>