<% layout('layout/boilerplate') %>
    <%- include('./header') %>
        <div class="form-input ">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <form action="/expense" method="POST">
                            <div class="mb-3">
                                <label for="tipe" class="form-label">Untuk Apa?</label>
                                <div class="input-group">
                                    <select class="form-select" id="tipe" name="category">
                                        <option value="makan selected">Makan</option>
                                        <option value="minum">Minum</option>
                                        <option value="jajan">Jajan</option>
                                        <option value="lainnya">Lainnya</option>
                                    </select>
                                    <input type="text" class="form-control" id="tipe-lainnya" name="tipe-lainnya"
                                        style="display: none;" placeholder="Masukkan tipe lainnya">
                                    <button class="btn btn-outline-secondary" type="button"
                                        id="tipe-lainnya-btn">Lainnya</button>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="tanggal" class="form-label">Tanggal</label>
                                <input type="date" class="form-control" id="tanggal" name="tanggal">
                            </div>
                            <div class="mb-3">
                                <label for="jumlah" class="form-label">Jumlah</label>
                                <input type="number" class="form-control" id="jumlah" name="amount">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>